.search-word {
  margin-top: 3vh;
}

.progress-bar {
  margin-top: 5vh;
  margin-left: 1vh;
  width: 7vw;
}

.result {
  margin-top: 2vh;
  text-align: left;
  margin-bottom: 3vh;
  margin-left: 1vw;
}

.text {
  margin-top: 0.5vh;
  width: 5vw;
}
