.load-folda {
  margin-top: 3vh;
}

.progress-bar {
  margin-top: 5vh;
  width: 10vw;
}

.result {
  margin-left: 0vw;
  text-align: left;
  margin-bottom: 3vh;
  margin-left: 1vw;
}

.text {
  width: 5vw;
}
