.header {
  width: 90%;
  height: 30px;
  font-size: 20px;
  background-color: #bbb;
  margin-top: 2%;
  margin-bottom: 1%;
}

.updateinfo {
  width: 90%;
  height: 300px;
}

.date {
  padding-left: 10%;
  display: inline;
}

.content {
  padding-left: 5%;
  display: inline;
}
