<mat-vertical-stepper class="stepper" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <!-- <form [formGroup]="firstFormGroup"> -->
    <ng-template matStepLabel>検索条件</ng-template>
    <app-create-word></app-create-word>
    <button mat-stroked-button color="primary" matStepperNext>入力完了</button>
    <!-- </form> -->
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>フォルダ読み込み</ng-template>
      <app-folda-load></app-folda-load>
      <button mat-stroked-button color="accent" matStepperPrevious>戻る</button>
      <button mat-stroked-button color="primary" matStepperNext>次へ</button>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>文字検索</ng-template>
      <app-search-word></app-search-word>
      <button mat-stroked-button color="accent" matStepperPrevious>戻る</button>
      <button mat-stroked-button color="primary" matStepperNext>完了</button>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>ダウンロード</ng-template>
      <app-download-file></app-download-file>
      <button mat-stroked-button color="accent" matStepperPrevious>戻る</button>
      <button mat-stroked-button color="primary" (click)="stepper.reset()">リセット</button>
    </form>
  </mat-step>

</mat-vertical-stepper>
