<div class="load-folda" *ngIf="!loading">
  <input mat-input type="file" webkitdirectory style="display: none" #fileInput (change)="onLoadFiles($event.target.files)" />
  <button mat-raised-button color="primary" (click)="onClickFileInputButton()">
    <mat-icon>attach_file</mat-icon>
    フォルダを選択
  </button>
</div>

<mat-progress-bar class="progress-bar" *ngIf="loading" mode="indeterminate"></mat-progress-bar>


<div class="result">
  読み込み結果
  <div class="text">
    {{loadResult.fileNumber}}ファイル
  </div>

  <div class="text">
    {{loadResult.charNumber}}文字
  </div>
</div>
